<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
      <h2 class="text-xl font-semibold mb-6 text-center">Register Rental</h2>
  
      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
        <div>
          <label class="block">Customer ID</label>
            <input
              formControlName="customerId"
              class="w-full border p-2 rounded disabled blo"
              readonly
            />        
        </div>
        <div>
          <label class="block">Car Type</label>
          <input formControlName="carType" class="w-full border p-2 rounded" />
        </div>
        <div>
          <label class="block">Model</label>
          <input formControlName="model" class="w-full border p-2 rounded" />
        </div>
        <div>
          <label class="block">Start Date</label>
          <input type="date" formControlName="startDate" [min]="today" class="w-full border p-2 rounded" />
        </div>
        <div>
          <label class="block">End Date</label>
          <input type="date" formControlName="endDate" [min]="today" class="w-full border p-2 rounded" />
        </div>
         <div>
          <label class="block">Location</label>
          <input type="string" formControlName="location" class="w-full border p-2 rounded" />
        </div>
  
        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">Submit</button>
  
        <p *ngIf="confirmationMessage" class="text-green-600 text-center">{{ confirmationMessage }}</p>
        <p *ngIf="errorMessage" class="text-red-600 text-center">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
  